
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
    
  <title>BookClub</title>
  <link rel="stylesheet" href="/public/css/jass.css">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        &#128214 Welcome to BookClub! &#128214
      </h1>
    </header>
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>
      
      <div class="footer">
      <div id="button"></div>
      <div id="container">
      <div id="cont">
    <div class="footer_center">
      <h3>© Copyright 2022 BookClub</h3>
    </div>
</html>