<div class="col s12 m12 l3" style="border: 2px solid">
            <aside id="favourites" class="aside">
                <h3>My favourites</h3>
                <div id="favourite-books">
                    {{#each favourites.books as |book|}}
                    <h5>{{book.title}}</h5>
                    {{/each}}
                </div>
            </aside>
</div>