<div class="col s12 m12 l3" style="border: 2px solid">
            <aside id="mustread" class="aside">
                <h3>Must Read</h3>
                <div id="must-read">
                    <!-- render must read items here -->
                    {{#each books}}
                </div>
            </aside>
</div>