<div class="col s12 m12 l3" style="border: 2px solid">
            <aside id="recentreviews" class="aside">
                <h3>Recent Reviews</h3>
                <div id="recent-reviews">
                    <!-- render recently reviewed items here -->
                </div>
            </aside>
</div>